.date-input-container {
    position: relative;
    width: 247px;
  }
  
  .date-input {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    background-color: white;
    color: black;
    border:1px solid;
    border-color: transparent;
    border-radius: 46px;
    font-size: 18px;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
    appearance: none; /* Removes default icon */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .date-input:focus {
    outline: none;
    border-color: #4A3AFF;
    color: #4A3AFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

  }
  
  .calendar-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-10px,-50%);
    color: #888;
    font-size: 20px;
    cursor: pointer;
  }
  
  .calendar-icon:hover {
    color: #4A3AFF;
  }

  .focusedDateInput{
    outline: none;
    border-color: #4A3AFF;
    color: #4A3AFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .focusedIcon{
    color: #4A3AFF;

  }

  .res1{
    justify-content: center;
  }