


.secondbonde{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 4vw;
  padding: 2rem;
  
}
.sentence{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.sentence h1{
  font-weight: bolder;
  font-size: 50px;
  font-family: 'poppins', sans-serif !important;
}
.sentence p{
  font-family: 'poppins-bold', sans-serif !important;
  color:  #1E1E1E80;
  font-size: 1rem;
}
.sentence button{
  display: flex; /* Align content horizontally */
  align-items: center; /* Vertically center text and icon */
  gap: 20px; /* Spacing between text and icon */
  background-color: #C1DCDC; /* Button background */
  color: rgb(0, 0, 0); /* Text color */
  border: none; /* Remove default border */
  border-radius: .5rem; /* Optional: Rounded corners */
  padding: .5rem 1rem; /* Button padding */
  font-size: 22px; /* Adjust font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease;
  width: 160px;

}
.sentence button:hover{
  background-color: #577e7e ;
  color: white;
}
.arrow-icon {
  font-size: 16px; /* Icon size */
  vertical-align: middle; /* Align with text */
}
.firstrow{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.secondrow{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1030px){
  .secondbonde {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
    gap: 20px; /* Space between grid items */
    padding: 50px 20px;
  }
  .secondbonde h1{
    font-size: 35px;
  }
  .secondbonde p{
    font-size: 19px ;
  }
  
  
}

@media (max-width: 590px){
  
    .secondbonde {
      grid-template-columns: 1fr; /* 1 column on small screens */
      align-items: center;
      justify-items: center;
    }
  
  
}